@import url(common.css);

    $txt_default:#2c2c2c;
    $txt_point:#0B4631;
    $primary_color:#f7f0da;

    $max_width:1200px;


    @mixin layout_flex($justify,$align) {
        display: flex;
        justify-content: $justify;
        align-items: $align;
    }

    @mixin layout_fixed($left,$top,$width,$height,$bg){
        position: fixed;
        left:$left;
        top:$top;
        width:$width;
        height:$height;
        z-index: 999;
        background:$bg;
    }

    // 스크롤 될때 헤더 style
    @mixin header_scroll {
        background-color: #fff;
        color: $txt_point;
    }

    body {
        font:11px "Noto Sans KR","나눔고딕";
        color: #767676;
        a{
            color:$txt_default;
            outline:none;
        }
        h2 {
            font-size: 4vw; letter-spacing: -2px; text-align: center; color:$txt_point;
       }
       #contents {overflow: hidden;}
       .inner { max-width:$max_width; margin: 120px auto; padding: 50px 0;}
    }

    //header
    #header {
        @include layout_flex(space-between,center );
        @include layout_fixed(0, 0, 100%, 80px, rgba(255,255,255,0.2));
        // 스크롤 될때 헤더 style
        &.on {
            @include header_scroll();
            .gnb_btn .ion-navicon-round:before { color:$txt_point}
        }
        h1 {
            margin-left: 3%;
            background: url(../images/logo.png)no-repeat center left;
            width: 100%; height:100%;
            
            &.on {
                background-image: url(../images/logo_green.png);
                transition: 0.5s ease-in-out;
            }
        }
        .ion-navicon-round:before {color: #fff;}
        &.on {
            background:#fff;
           
            #gnb {
                li a {
                    color: $txt_point;
                }
            }
        }
        #gnb {
            margin-right: 3%;
            ul {
                display: flex; gap: 2rem; white-space: nowrap;
                .main {
                    position: relative;
                    width: 150px;
                    text-align: center;
                    .sub {
                        display: none;
                        position: absolute;
                        left: 0;
                        top: 24px;
                        width: 100%;
                        text-align: center;
                        li a {
                            display: inline-block;
                            width: 100%;
                            padding: 10px 0;
                            background-color: $primary_color;
                            color: $txt_point;
                        }
                    }
                }
                li a {
                    color:white;  font-size: 1rem; letter-spacing: -1px; object-fit:cover; transition: 1s;
                }
            }
        }
    }

    // all contents layout common
    #contents {
    
    }

    // section : contents 동영상
    #home {
        video {
            width:100vw; height: 100%; object-fit: cover;
        }
    }

    // section : recom 추천제품
    #recom {
        background-color: #f7f0da;
        .recom_list{
            position: relative; 
            @include layout_flex(space-between,center);

            li {
                position: relative;
                width: 50%;
                img.re {animation: recomRo 3s infinite ease-out; width: 100%;}
                &.active::after{
                    content: ''; display: inline-block; position: absolute; left: 0; top: 0; width: 500px; height: 500px; border-radius: 50%; border: 4px dashed #fff; animation: reRound 0.3s ease-in;

                }

                .recom_txt {
                    text-align: center;
                    strong { display: inline-block; margin-bottom: 10px; color: $txt_point;}
                }
            }
        }
    }

    @keyframes reRound {
        0% { transform:scale(0); }
        100% { transform:scale(1); }
    }


    //section : evnet_wrap 쇼핑몰&케이크배달 / 매장찾기
    #evnet_wrap {
        ul.shop_app{
            display: flex;
            li {
                display: block;
                background-color: $txt_point;
                img {width: 100%;}
                &.evnet_item02 {
                    position: relative;
                    form {
                        position: absolute; top: 50%; left: 50%;
                        transform: translate(-50%, -50%);
                         border: 2px solid rgb(105, 255, 218);
                    }
                }
            }
        }
        ul.event_discount {
            display: flex; gap: 1rem; margin-top: 1%;
            li {
                flex: 1;
                img {width: 100%;}
            }
        }
    }



    @keyframes recomRo {
        0% {transform: rotate(0deg);}
        50% {transform: rotate(-5deg);}
        100% {transform: rotate(0deg);}
     } 

    //section : 기사채용 안내
     #banner_wrap {
        .item {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            gap: 1%;
            width: 100%;
           li {
                width: 49%;
                &:nth-child(3) {order: 4;}
                &:nth-child(4) {order: 3;}
            }
           
            img {width: 100%;
                box-shadow: 42px 33px 0px 6px rgba(247,240,218,1);
                -webkit-box-shadow: 42px 33px 0px 6px rgba(247,240,218,1);
                -moz-box-shadow: 42px 33px 0px 6px rgba(247,240,218,1);}

            .txt{
                width: 30%;
                margin: 5% auto;
                font-size: 2vw;
                letter-spacing: -1px;
                span {font-size: 2vw;}
                img {width: 20%; box-shadow: none; }
            }
        }
     }



     #footer{
        background-color: $txt_point;
        .inner {
            margin-bottom: 0;
            padding: 40px;
            .sitemap {
                display: flex; flex-wrap: wrap; justify-content: flex-start; gap: 1%; margin-bottom: 5%;
                li {margin-bottom: 5px;}
                a { color: #fff; font-size: 1vw; letter-spacing: -1px;}
            }
    
            .footer_setion {
                display: flex; justify-content: space-between;
                color: #fff;
                font-size: 1.2vw;
                .area {width: 50%;}
            }
            .familysite {
                position: relative;
                width: 120px;
                height: 20px;
                margin-top: 5px;
                .family_btn { width: 100%; background-color: #fff; border: 2px solid $primary_color; padding: 2% 5%;text-align: left;}
                ul {
                    display: none;
                    position: absolute;
                    right: 0;
                    bottom: 20px;
                    width: 120px;
                    height: auto;
                    padding:5px;
                    background:#f6f6f6;  
                    li {height: 20px;}
                }
            }
        }
        .copyright { background-color: $txt_point; color: #ffffff; text-align: center; }
     }





/* mediaquery */

@media all and (max-width:767px) { /* 스마트폰 */
    #header{   
        #gnb{
            transition:0.5s;
	        height:0px;
            overflow:hidden;
	        position:absolute; 
	        left:0px; top:80px; z-index:100; 
	        width:100%; 
	        background:rgba(255, 255, 255, 0.8); 
                ul {
                    gap: 1rem;
                    .main {
                        width: 100%;
                        .sub {position:static}
                    }
                }
                .ion-navicon-round:before {scale: 2;}
                &.on { 
                    transition: 1s;
                    ul {flex-direction: column;}
                    height: fit-content; 
                    .gnb_btn {color: #fff;}
                }
        }
        .gnb_btn {
            margin-right: 3%;
            scale: 1.5;
        }

    }

    // section : contents
    #home {
        video {
            width:100vw; height: 100vh; object-fit:cover;
        }
    }

        // section : recom
        #recom {
            .recom_list{
                flex-direction: column;
                li {
                    width: 60%;
                    a:hover {
                        
                        animation: reRound 0.5s ease-in;
                    }
                }
            }
        }
        @keyframes reRound {
            0% { transform:scale(0); }
	        100% { transform:scale(1); }
        }

        //section : shop_app 쇼핑몰&케이크배달 / 매장찾기
        #evnet_wrap{
            ul {
                flex-direction: column;
                li {flex: 1;}
            }
        }


    //section : 기사채용 안내
     #banner_wrap {
        .item {

            flex-direction: column;
            li {
                width: 100%;
                &:nth-child(3) {order: 3;}
                &:nth-child(4) {order: 4;}
            }
            .txt {
                width: 100%;
                font-size: 4vw;
                margin-left: 5%;
                img {display: block;}
                p {display: inline-block;}
            }
        }
    }
    #footer{
        .inner {
            margin-top: 0;
            .footer_setion {
                flex-direction: column; text-align: center; 
                li {
                    &:nth-child(1) {order: 2;}
                    &:nth-child(2) {order: 1;}
                }
                .area {
                    margin: 0 auto;
                }
            }
            .sitemap {
                justify-content: center;
                font-size: 2vw;
            }

            .familysite {
                margin: 5px auto;
                text-align: center;
            }
        }   
    }
}

@media all and (min-width:768px) and (max-width:1023px) { /* 태블릿 */

    body {border: 10px dashed rgb(56, 255, 53);}
   #header{
    h1 {flex: 1; background-size: contain; margin-right:20px;}
        .gnb_btn {display: none;}
        #gnb {
            flex: 2;
            font-size: 0.8vw;
            ul {
                justify-content: space-between;
                .main {
                    width: fit-content;
                    text-align: center;
                    .sub {
                        width: fit-content;
                    }
                }
            }

        }
   }
}


@media all and (min-width:1024px) { /* PC */

    #header{
        .gnb_btn {display: none;}
    }
}


     #tt { position:fixed; z-index:1000; left:0; top:200px; background:red; padding:5px; font-size:20px; color:white; }