@charset "UTF-8";
/*reset*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Noto Sans KR";
}

html, body {
  height: 100%;
}

body, div, p, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, form, fieldset, button, input {
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

h1, h2, h3, h4 {
  font-size: 1rem;
}

ul, li, ol {
  list-style: none;
}

img, fieldset, iframe {
  border: 0;
}

img {
  vertical-align: top;
}

table {
  border-collapse: collapse;
}

a {
  text-decoration: none;
  color: #2c2c2c;
  font-size: 1rem;
  font-weight: 400;
}

body {
  overflow: hidden;
  font: 11px "Noto Sans KR", "나눔고딕";
  color: #767676;
  background-color: #f7f0da;
}
body a {
  color: #2c2c2c;
  outline: none;
}

#header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100px;
  z-index: 999;
  background: rgba(255, 255, 255, 0.2);
}
#header h1 {
  margin-left: 2rem;
  background: url(../images/logo.png) no-repeat center left;
  width: 100%;
  height: 100%;
}
#header h1.on {
  background-image: url(../images/logo_green.png);
}
#header.on {
  background: #fff;
}
#header.on #gnb li a {
  color: #0B4631;
  font-weight: 700;
}
#header #gnb {
  margin-right: 2rem;
}
#header #gnb ul {
  display: flex;
  gap: 2rem;
  white-space: nowrap;
}
#header #gnb ul li a {
  color: white;
  font-size: 1rem;
  letter-spacing: -1px;
  object-fit: cover;
}

#contents section {
  height: 100vh;
}
#contents h2 {
  padding-top: 10rem;
  font-size: 3rem;
  letter-spacing: -2px;
  text-align: center;
  color: #0B4631;
}
#contents .inner {
  max-width: 1350px;
  margin: 0 auto;
}

#home video {
  width: 100vw;
  height: 100vh;
  object-fit: cover;
}

#recom .recom_list {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#recom .recom_list li {
  width: 50%;
}
#recom .recom_list li img.re {
  animation: recomRo 3s infinite ease-out;
  width: 100%;
}

@keyframes recomRo {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(-5deg);
  }
  100% {
    transform: rotate(0deg);
  }
}