@charset "UTF-8";
@import url(common.css);
body {
  font: 11px "Noto Sans KR", "나눔고딕";
  color: #767676;
}
body a {
  color: #2c2c2c;
  outline: none;
}
body h2 {
  font-size: 4vw;
  letter-spacing: -2px;
  text-align: center;
  color: #0B4631;
}
body #contents {
  overflow: hidden;
}
body .inner {
  max-width: 1200px;
  margin: 120px auto;
  padding: 50px 0;
}

#header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 80px;
  z-index: 999;
  background: rgba(255, 255, 255, 0.2);
}
#header.on {
  background-color: #fff;
  color: #0B4631;
}
#header.on .gnb_btn .ion-navicon-round:before {
  color: #0B4631;
}
#header h1 {
  margin-left: 3%;
  background: url(../images/logo.png) no-repeat center left;
  width: 100%;
  height: 100%;
}
#header h1.on {
  background-image: url(../images/logo_green.png);
  transition: 0.5s ease-in-out;
}
#header .ion-navicon-round:before {
  color: #fff;
}
#header.on {
  background: #fff;
}
#header.on #gnb li a {
  color: #0B4631;
}
#header #gnb {
  margin-right: 3%;
}
#header #gnb ul {
  display: flex;
  gap: 2rem;
  white-space: nowrap;
}
#header #gnb ul .main {
  position: relative;
  width: 150px;
  text-align: center;
}
#header #gnb ul .main .sub {
  display: none;
  position: absolute;
  left: 0;
  top: 24px;
  width: 100%;
  text-align: center;
}
#header #gnb ul .main .sub li a {
  display: inline-block;
  width: 100%;
  padding: 10px 0;
  background-color: #f7f0da;
  color: #0B4631;
}
#header #gnb ul li a {
  color: white;
  font-size: 1rem;
  letter-spacing: -1px;
  object-fit: cover;
  transition: 1s;
}

#home video {
  width: 100vw;
  height: 100%;
  object-fit: cover;
}

#recom {
  background-color: #f7f0da;
}
#recom .recom_list {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#recom .recom_list li {
  position: relative;
  width: 50%;
}
#recom .recom_list li img.re {
  animation: recomRo 3s infinite ease-out;
  width: 100%;
}
#recom .recom_list li.active::after {
  content: "";
  display: inline-block;
  position: absolute;
  left: 0;
  top: 0;
  width: 500px;
  height: 500px;
  border-radius: 50%;
  border: 4px dashed #fff;
  animation: reRound 0.3s ease-in;
}
#recom .recom_list li .recom_txt {
  text-align: center;
}
#recom .recom_list li .recom_txt strong {
  display: inline-block;
  margin-bottom: 10px;
  color: #0B4631;
}

@keyframes reRound {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
#evnet_wrap ul.shop_app {
  display: flex;
}
#evnet_wrap ul.shop_app li {
  display: block;
  background-color: #0B4631;
}
#evnet_wrap ul.shop_app li img {
  width: 100%;
}
#evnet_wrap ul.shop_app li.evnet_item02 {
  position: relative;
}
#evnet_wrap ul.shop_app li.evnet_item02 form {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 2px solid rgb(105, 255, 218);
}
#evnet_wrap ul.event_discount {
  display: flex;
  gap: 1rem;
  margin-top: 1%;
}
#evnet_wrap ul.event_discount li {
  flex: 1;
}
#evnet_wrap ul.event_discount li img {
  width: 100%;
}

@keyframes recomRo {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(-5deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
#banner_wrap .item {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 1%;
  width: 100%;
}
#banner_wrap .item li {
  width: 49%;
}
#banner_wrap .item li:nth-child(3) {
  order: 4;
}
#banner_wrap .item li:nth-child(4) {
  order: 3;
}
#banner_wrap .item img {
  width: 100%;
  box-shadow: 42px 33px 0px 6px rgb(247, 240, 218);
  -webkit-box-shadow: 42px 33px 0px 6px rgb(247, 240, 218);
  -moz-box-shadow: 42px 33px 0px 6px rgb(247, 240, 218);
}
#banner_wrap .item .txt {
  width: 30%;
  margin: 5% auto;
  font-size: 2vw;
  letter-spacing: -1px;
}
#banner_wrap .item .txt span {
  font-size: 2vw;
}
#banner_wrap .item .txt img {
  width: 20%;
  box-shadow: none;
}

#footer {
  background-color: #0B4631;
}
#footer .inner {
  margin-bottom: 0;
  padding: 40px;
}
#footer .inner .sitemap {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 1%;
  margin-bottom: 5%;
}
#footer .inner .sitemap li {
  margin-bottom: 5px;
}
#footer .inner .sitemap a {
  color: #fff;
  font-size: 1vw;
  letter-spacing: -1px;
}
#footer .inner .footer_setion {
  display: flex;
  justify-content: space-between;
  color: #fff;
  font-size: 1.2vw;
}
#footer .inner .footer_setion .area {
  width: 50%;
}
#footer .inner .familysite {
  position: relative;
  width: 120px;
  height: 20px;
  margin-top: 5px;
}
#footer .inner .familysite .family_btn {
  width: 100%;
  background-color: #fff;
  border: 2px solid #f7f0da;
  padding: 2% 5%;
  text-align: left;
}
#footer .inner .familysite ul {
  display: none;
  position: absolute;
  right: 0;
  bottom: 20px;
  width: 120px;
  height: auto;
  padding: 5px;
  background: #f6f6f6;
}
#footer .inner .familysite ul li {
  height: 20px;
}
#footer .copyright {
  background-color: #0B4631;
  color: #ffffff;
  text-align: center;
}

/* mediaquery */
@media all and (max-width: 767px) { /* 스마트폰 */
  #header #gnb {
    transition: 0.5s;
    height: 0px;
    overflow: hidden;
    position: absolute;
    left: 0px;
    top: 80px;
    z-index: 100;
    width: 100%;
    background: rgba(255, 255, 255, 0.8);
  }
  #header #gnb ul {
    gap: 1rem;
  }
  #header #gnb ul .main {
    width: 100%;
  }
  #header #gnb ul .main .sub {
    position: static;
  }
  #header #gnb .ion-navicon-round:before {
    scale: 2;
  }
  #header #gnb.on {
    transition: 1s;
    height: fit-content;
  }
  #header #gnb.on ul {
    flex-direction: column;
  }
  #header #gnb.on .gnb_btn {
    color: #fff;
  }
  #header .gnb_btn {
    margin-right: 3%;
    scale: 1.5;
  }
  #home video {
    width: 100vw;
    height: 100vh;
    object-fit: cover;
  }
  #recom .recom_list {
    flex-direction: column;
  }
  #recom .recom_list li {
    width: 60%;
  }
  #recom .recom_list li a:hover {
    animation: reRound 0.5s ease-in;
  }
  @keyframes reRound {
    0% {
      transform: scale(0);
    }
    100% {
      transform: scale(1);
    }
  }
  #evnet_wrap ul {
    flex-direction: column;
  }
  #evnet_wrap ul li {
    flex: 1;
  }
  #banner_wrap .item {
    flex-direction: column;
  }
  #banner_wrap .item li {
    width: 100%;
  }
  #banner_wrap .item li:nth-child(3) {
    order: 3;
  }
  #banner_wrap .item li:nth-child(4) {
    order: 4;
  }
  #banner_wrap .item .txt {
    width: 100%;
    font-size: 4vw;
    margin-left: 5%;
  }
  #banner_wrap .item .txt img {
    display: block;
  }
  #banner_wrap .item .txt p {
    display: inline-block;
  }
  #footer .inner {
    margin-top: 0;
  }
  #footer .inner .footer_setion {
    flex-direction: column;
    text-align: center;
  }
  #footer .inner .footer_setion li:nth-child(1) {
    order: 2;
  }
  #footer .inner .footer_setion li:nth-child(2) {
    order: 1;
  }
  #footer .inner .footer_setion .area {
    margin: 0 auto;
  }
  #footer .inner .sitemap {
    justify-content: center;
    font-size: 2vw;
  }
  #footer .inner .familysite {
    margin: 5px auto;
    text-align: center;
  }
}
@media all and (min-width: 768px) and (max-width: 1023px) { /* 태블릿 */
  #header h1 {
    flex: 1;
    background-size: contain;
    margin-right: 20px;
  }
  #header .gnb_btn {
    display: none;
  }
  #header #gnb {
    flex: 2;
    font-size: 0.8vw;
  }
  #header #gnb ul {
    justify-content: space-between;
  }
  #header #gnb ul .main {
    width: fit-content;
    text-align: center;
  }
  #header #gnb ul .main .sub {
    width: fit-content;
  }
}
@media all and (min-width: 1024px) { /* PC */
  #header .gnb_btn {
    display: none;
  }
}
#tt {
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 200px;
  background: red;
  padding: 5px;
  font-size: 20px;
  color: white;
}