
    /*reset*/
    * { margin: 0; padding: 0; box-sizing: border-box; }
    body{font-family:'Noto Sans KR';}
    html,body { height:100%; }
    body,div,p,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,form,fieldset,button,input { margin:0; padding:0; }
    html { scroll-behavior:smooth; }
    h1,h2,h3,h4 { font-size:1rem; }
    ul,li,ol { list-style:none; }
    img,fieldset,iframe { border:0; }
    img { vertical-align:top;}
    table { border-collapse:collapse; }
    a {text-decoration: none; color:#2c2c2c; font-size: 1rem; font-weight: 400;}

    $txt_default:#2c2c2c;
    $txt_point:#0B4631;

    $max_width:1200px;

    @mixin layout_flex($justify,$align) {
        display: flex;
        justify-content: $justify;
        align-items: $align;
    }
    @mixin layout_fixed($left,$top,$width,$height,$bg){
        position: fixed;
        left:$left;
        top:$top;
        width:$width;
        height:$height;
        z-index: 999;
        background:$bg;
    }

    body {
        font:11px "Noto Sans KR","나눔고딕";
        color: #767676;
        background-color: #f7f0da;
        a{
            color:$txt_default;
            outline:none;
        }
    }

    //header
    #header {
        @include layout_flex(space-between,center );
        @include layout_fixed(0, 0, 100%, 100px, rgba(255,255,255,0.2));
        h1 {
            margin-left: 3%;
            background: url(../images/logo.png)no-repeat center left;
            width: 100%; height:100%;
            &.on {
                background-image: url(../images/logo_green.png);
            }
        }
        &.on {
            background:#fff;
            #gnb {
                li a {
                    color: $txt_point;
                    font-weight: 700;
                }
            }
        }
        #gnb {
            margin-right: 3%;
            ul {
                display: flex; gap: 2rem; white-space: nowrap;
                li a {
                    color:white;  font-size: 1rem; letter-spacing: -1px; object-fit:cover;
                }
            }
        }
    }

    // all contents layout common
    #contents {
        h2 {
             font-size: 4vw; letter-spacing: -2px; text-align: center; color:$txt_point;
        }
        .inner { max-width:$max_width; margin: 120px auto; border: 2px solid red;}
    }

    // section : contents 동영상
    #home {
        video {
            width:100vw; height: 100%; object-fit: cover;
        }
    }

    // section : recom 추천제품
    #recom {
        .recom_list{
            position: relative; 
            @include layout_flex(space-between,center);

            li {
                width: 50%;
                img.re {animation: recomRo 3s infinite ease-out; width: 100%;}
            }
        }
    }
    //section : evnet_wrap 쇼핑몰&케이크배달 / 매장찾기
    #evnet_wrap {
        ul.shop_app{
            display: flex;
            li {
                display: block;
                background-color: #0B4631;
                img {width: 100%;}
                &.evnet_item02 {
                    position: relative;
                    form {position: absolute; top: 50%; left: 50%;
                        transform: translate(-50%, -50%);
                         border: 2px solid rgb(105, 255, 218);}
                }
            }
        }
        ul.event_discount {
            display: flex; gap: 1rem;
            li {
                flex: 1;
                img {width: 100%;}
            }
           
        }

    }



    @keyframes recomRo {
        0% {transform: rotate(0deg);}
        50% {transform: rotate(-5deg);}
        100% {transform: rotate(0deg);}
     } 












/* mediaquery */

@media all and (max-width:767px) { /* 스마트폰 */
    body {border: 10px dashed rgb(255, 119, 114);}
    #header{
        #gnb{
            ul {
                gap: 1rem;
                li{
                    &{display: none;}
                    &:last-child{display: block;}
                }
            }
        }
    }


    // section : contents
    #home {
        video {
            width:100vw; height: 100vh; object-fit:cover;
        }
    }

        // section : recom
        #recom {
            .recom_list{
                flex-direction: column;
                li {
                    width: 50%;
                }
            }
        }


        //section : shop_app 쇼핑몰&케이크배달 / 매장찾기
        #evnet_wrap{
            ul {
                flex-direction: column;
                li {flex: 1;}
            }
        }

}

@media all and (min-width:768px) and (max-width:1023px) { /* 태블릿 */

    body {border: 10px dashed rgb(56, 255, 53);}
   #header{
        #gnb{
            ul {
                gap: 1rem;
                li{
                    &:last-child {display: none;}
                }
            }
        }

   }
}


@media all and (min-width:1024px) { /* PC */

    #header{
        #gnb{
            li{
                &:last-child {display: none;}
            }
        }
    }
}


     #tt { position:fixed; z-index:1000; left:0; top:200px; background:red; padding:5px; font-size:20px; color:white; }