@charset "UTF-8";
/*reset*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Noto Sans KR";
}

html, body {
  height: 100%;
}

body, div, p, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, form, fieldset, button, input {
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

h1, h2, h3, h4 {
  font-size: 1rem;
}

ul, li, ol {
  list-style: none;
}

img, fieldset, iframe {
  border: 0;
}

img {
  vertical-align: top;
}

table {
  border-collapse: collapse;
}

a {
  text-decoration: none;
  color: #2c2c2c;
  font-size: 1rem;
  font-weight: 400;
}

body {
  font: 11px "Noto Sans KR", "나눔고딕";
  color: #767676;
  background-color: #f7f0da;
}
body a {
  color: #2c2c2c;
  outline: none;
}

#header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100px;
  z-index: 999;
  background: rgba(255, 255, 255, 0.2);
}
#header.on {
  background-color: #fff;
  color: #0B4631;
}
#header h1 {
  margin-left: 3%;
  background: url(../images/logo.png) no-repeat center left;
  width: 100%;
  height: 100%;
}
#header h1.on {
  background-image: url(../images/logo_green.png);
}
#header.on {
  background: #fff;
}
#header.on #gnb li a {
  color: #0B4631;
  font-weight: 700;
}
#header #gnb {
  margin-right: 3%;
}
#header #gnb ul {
  display: flex;
  gap: 2rem;
  white-space: nowrap;
}
#header #gnb ul li a {
  color: white;
  font-size: 1rem;
  letter-spacing: -1px;
  object-fit: cover;
}

#contents h2 {
  font-size: 4vw;
  letter-spacing: -2px;
  text-align: center;
  color: #0B4631;
}
#contents .inner {
  max-width: 1200px;
  margin: 120px auto;
  border: 2px solid red;
}

#home video {
  width: 100vw;
  height: 100%;
  object-fit: cover;
}

#recom .recom_list {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#recom .recom_list li {
  width: 50%;
}
#recom .recom_list li img.re {
  animation: recomRo 3s infinite ease-out;
  width: 100%;
}

#evnet_wrap ul.shop_app {
  display: flex;
}
#evnet_wrap ul.shop_app li {
  display: block;
  background-color: #0B4631;
}
#evnet_wrap ul.shop_app li img {
  width: 100%;
}
#evnet_wrap ul.shop_app li.evnet_item02 {
  position: relative;
}
#evnet_wrap ul.shop_app li.evnet_item02 form {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 2px solid rgb(105, 255, 218);
}
#evnet_wrap ul.event_discount {
  display: flex;
  gap: 1rem;
  margin-top: 10px;
}
#evnet_wrap ul.event_discount li {
  flex: 1;
}
#evnet_wrap ul.event_discount li img {
  width: 100%;
}

@keyframes recomRo {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(-5deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
/* mediaquery */
@media all and (max-width: 767px) { /* 스마트폰 */
  body {
    border: 10px dashed rgb(255, 119, 114);
  }
  #header #gnb ul {
    gap: 1rem;
  }
  #header #gnb ul li {
    display: none;
  }
  #header #gnb ul li:last-child {
    display: block;
  }
  #home video {
    width: 100vw;
    height: 100vh;
    object-fit: cover;
  }
  #recom .recom_list {
    flex-direction: column;
  }
  #recom .recom_list li {
    width: 50%;
  }
  #evnet_wrap ul {
    flex-direction: column;
  }
  #evnet_wrap ul li {
    flex: 1;
  }
}
@media all and (min-width: 768px) and (max-width: 1023px) { /* 태블릿 */
  body {
    border: 10px dashed rgb(56, 255, 53);
  }
  #header #gnb ul {
    gap: 1rem;
  }
  #header #gnb ul li:last-child {
    display: none;
  }
}
@media all and (min-width: 1024px) { /* PC */
  #header #gnb li:last-child {
    display: none;
  }
}
#tt {
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 200px;
  background: red;
  padding: 5px;
  font-size: 20px;
  color: white;
}